body {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;

}
.wrapper {
    /* border: 1px solid red; */
  width: 1170px;
}

.wrapper > h2 {
    font-family: 'Raleway';
    font-size: 36px;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 40px auto;
}
.separator {
    width: 170px;
    /* border: 1px solid #EC7979; */
    height: 1px;
    background-color: #EC7979;
    margin: 0 auto;
}
.wrapper > p {
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color: #86878B;
    /* margin: 40px auto; */
    margin: 40px auto 115px auto;
}
.inner-wrapper {
    display: flex;
}

.box {
    flex: 1;
    width: 371px;
    margin: auto 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box>img{
    width: 92px;
    height: 92px;
}
.box>h4{
    font-family: 'Open Sans';
    /* text-align: center; */
    font-size: 24px;
}
.box>p {
    font-family: "Raleway";
    font-size: 18px;
    text-align: center;

}